.navbar{
    background-colour: red;
}
.content{
    padding: 100px;
    background-image: url(url(../Desktop/DALL·E 2024-11-29 16.23.56 - A luxurious futuristic restaurant with outstanding elegance and performance, featuring sleek architectural design with high-tech elements. The interio.webp))
